,<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>


    <!-- CDNS -->
   <!--
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">

-->

</head>
<body>
    
<!-- navbar start -->
<!--
<nav class="navbar navbar-inverse">
    <div class="container-fluid ">
      <div class="navbar-header ">
        <a class="navbar-brand" href="#">B Events</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'events' %}">Events</a></li>
        <li><a href="{% url 'booking' %}">Booking</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
        
        
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </nav>

-->

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index' %}">B Events</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">About</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'events' %}">Events</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'booking' %}">Booking</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'contact' %}">Contacts</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Logout</a>
          </li>

                
        </ul> 
        
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
        
      </div>
    </div>
  </nav>  


  
{% block content %}  


{% endblock %}

</body>
</html>